<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <p>{{ url }}</p>
        <input id="url" type="text" name="url" size="40" tabindex="1">
        <button onclick="send()">Сократить</button>
<script>
    async function send(){

        // получаем введеное в поле имя и возраст
        const url = document.getElementById("url").value;

        // отправляем запрос
        const response = await fetch("/", {
                method: "POST",
                headers: { "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify({
                    url: url,
                })
            });
            if (response.ok) {
                const data = await response.json();
                document.getElementById("message").textContent = data.message;
            }
            else
                console.log(response);
    }
</script>
</body>
</html>